/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Proxima Nova Regular";
    font-weight: 400;
    src: url("/fonts/ProximaNova-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: "Proxima Nova Bold";
    font-weight: 700;
    src: url("/fonts/ProximaNova-Bold.otf") format("opentype");
  }

  @font-face {
    font-family: "Avant Garde Pro Bold";
    font-weight: 700;
    src: url("/fonts/ITCAvantGardePro-Bold.otf") format("opentype");
  }

  body {
    @apply font-proxima-regular;
    @apply text-lg;
  }

  strong {
    @apply font-proxima-bold;
  }

  /* Creative */

  .creative {
    background: linear-gradient(to right, #ff00ff 0%, #65008a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .creative::selection {
    background: #ff00ff;
    -webkit-text-fill-color: #000;
  }

  .product-example {
    position: relative;
  }

  .product-example:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
  }

  /* Highlight */

  .highlight {
    position: relative;
  }

  .highlight:before,
  .highlight:after {
    position: absolute;
    bottom: 0;
    content: "";
    height: 0;
    width: 50%;
    border-bottom: 40px solid #fff;
  }

  .highlight:before {
    right: 0;
    border-right: 0 solid transparent;
    border-left: 40px solid transparent;
  }

  .highlight:after {
    left: 0;
    border-left: 0 solid transparent;
    border-right: 40px solid transparent;
  }

  /* Toggle */

  input.toggle:before {
    content: "";
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: scale(1.1);
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.4);
    background-color: white;
    transition: 0.2s ease-in-out;
  }

  input.toggle:checked {
    @apply: bg-pavilion-purple;
    background-color: #65008a;
  }

  input.toggle:checked:before {
    left: 1.25rem;
  }
}
