/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

  @font-face {
    font-family: "Greycliff CF";
    src: url("/fonts/GreycliffCF-Regular.eot");
    src: url("/fonts/GreycliffCF-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/GreycliffCF-Regular.woff2") format("woff2"), url("/fonts/GreycliffCF-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Greycliff CF";
    src: url("/fonts/GreycliffCF-RegularOblique.eot");
    src: url("/fonts/GreycliffCF-RegularOblique.eot?#iefix") format("embedded-opentype"), url("/fonts/GreycliffCF-RegularOblique.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Greycliff CF";
    src: url("/fonts/GreycliffCF-Bold.eot");
    src: url("/fonts/GreycliffCF-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/GreycliffCF-Bold.woff2") format("woff2"), url("/fonts/GreycliffCF-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Greycliff CF";
    src: url("/fonts/GreycliffCF-BoldOblique.eot");
    src: url("/fonts/GreycliffCF-BoldOblique.eot?#iefix") format("embedded-opentype"), url("/fonts/GreycliffCF-BoldOblique.woff2") format("woff2"), url("/fonts/GreycliffCF-BoldOblique.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
}

body {
  @apply font-opensans font-normal;
}

h1,
h2,
h3,
h4 {
  @apply font-greycliff;
}

h1,
h2,
h3,
h4 {
  @apply leading-[1.1] font-bold;
}

h1,
h2 {
  @apply mb-[30px];
}

h3,
h4 {
  @apply mb-[20px];
}

h1 {
  @apply text-[34px] sm:text-[40px];
}

h2 {
  @apply text-[30px] sm:text-[36px];
}

h3 {
  @apply text-[24px];
}

h4 {
  @apply text-[20px];
}

p {
  @apply text-[18px] leading-[1.5] mb-[20px];
}

/* Blog-specific */

.post figure {
  margin: 40px 0;
}

.post code {
  background: #ffffff;
  border: 1px solid #ddd;
  border-left: 5px solid #23afe6;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  line-height: 1.5;
  margin-bottom: 10px;
  overflow: auto;
  padding: 15px 20px;
  display: block;
  word-wrap: break-word;
}
